@charset "UTF-8";

/*========================================
    header
==========================================*/
.header-contents {
  height: 200px;
  position: relative;
  background: #dadada;

  h1 {
    margin: auto;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
}

/*========================================
    global navigation
==========================================*/
.global-nav {
  position: fixed;
  top: 0;
  padding: 1.5rem 1.5rem 0.5rem 0;
  //right: 1.5rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
  z-index: 1000;

  &.scroll {
    //background-color: rgba(1, 0, 0, 0.6);
    background-color: #000;
  }
  li {
    margin-right: 1rem;

    &:last-child {
      margin: 0;
    }

    a {
      padding-right: 2px;
      padding-bottom: 3px;
      border-bottom: 2px solid #fff;
      font-size: 1.2rem;
      text-decoration: none;
      color: #fff;

      &:hover, &.current {
        color: #85b970;
        border-color: #85b970;
      }
    }
  }
}

/*========================================
    main
==========================================*/
.main-container {
  position: relative;

  /*----------------------------------------
      main
  ------------------------------------------*/
  .main {
    padding-bottom: 20px;
    overflow: hidden;

    //&::after {
    //  content: ' ';
    //  display: block;
    //  height: 0;
    //  clear: both;
    //}
    &#home {
      background: #fff1d0;
      padding-right: 1rem;
    }
  }

  /*----------------------------------------
      other
  ------------------------------------------*/
  .other {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 1rem;
    height: 100%;
    width: 95%;
    background: #fff;
    border: 5px solid #a0a0a0;
    border-left: none;
    border-radius: 0 16px 16px 0;
    z-index: 200;
    display: none;
    .sub-nav {
      background-color: #dadada;
    }
    .section {
      background-color: #e3d1ff;
    }

    &:nth-of-type(odd) {
      .section, .sub-nav {
        background-color: #ff8670;
      }
    }
  }

  /*----------------------------------------
      modal-background
  ------------------------------------------*/
  .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: none;
    z-index: 100;
    &:hover {
      cursor: pointer;
    }
  }

  /*----------------------------------------
      suv-navigation
  ------------------------------------------*/
  .sub-nav {
    position: absolute;
    width: 250px;
    padding-top: 50px;
    background: #5fdb78;
    border-left: 30px solid #3d8d4e;

    h2 {
      text-align: center;
      background-color: #ababab;
    }
    ul {
      list-style: none;
      padding-left: 2rem;

      li {
        padding: 15px 15px 15px 0;
      }
      a {
        margin-bottom: 5px;
        display: block;
        color: #000000;
        //padding-left: 3rem;
        font-size: 1.5rem;
        text-decoration: none;
        border-bottom: 1px solid #000;

        &:hover, &.current {
          color: #b93619;
          border-color: #b93619;
        }
      }
    }

    &.scroll {
      position: fixed;
      top: 61px;
    }
  }

  /*----------------------------------------
      main-contents
  ------------------------------------------*/
  .main-contents {
    margin: 0 auto 0 260px;
    overflow: hidden;
    //&::after {
    //  content: ' ';
    //  display: block;
    //  height: 0;
    //  clear: both;
  }
  .section {
    height: 500px;
    min-width: 300px;
    padding: 1rem;
    background: #ffafb9;
  }
}
