/*========================================
    global
==========================================*/
html, body {
  min-width: 350px; }

/*========================================
    header
==========================================*/
.header-contents, .footer-contents {
  position: relative;
  background: #bfbc79; }
  .header-contents h1, .footer-contents h1 {
    margin: auto;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center; }

.header-contents {
  height: 200px; }

.footer-contents {
  height: 80px; }

/*========================================
    global navigation
==========================================*/
.global-nav {
  position: fixed;
  top: 0;
  padding: 1.5rem 1.5rem 0.5rem 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
  z-index: 1000; }
  .global-nav.scroll {
    background-color: #000; }
  .global-nav li {
    margin-left: 16px; }
    .global-nav li:first-child {
      margin: 0; }
    .global-nav li.sub-nav-button {
      display: none;
      color: #fff;
      transform: rotate(-90deg);
      vertical-align: middle;
      font-weight: bold; }
      .global-nav li.sub-nav-button button {
        text-indent: -3px;
        outline: none; }
        .global-nav li.sub-nav-button button:hover {
          color: #cb1b45; }
    .global-nav li a {
      padding-right: 2px;
      padding-bottom: 3px;
      border-bottom: 2px solid #fff;
      font-size: 1.2rem;
      text-decoration: none;
      color: #fff; }
      .global-nav li a:hover, .global-nav li a.current {
        color: #cb1b45;
        border-color: #cb1b45; }
  @media screen and (max-width: 510px) {
    .global-nav {
      padding-bottom: 0.75rem;
      background: rgba(0, 0, 0, 0.4); }
      .global-nav li {
        margin-left: 10px; }
      .global-nav li.sub-nav-button {
        display: block; }
      .global-nav li a {
        font-size: 80%;
        display: block;
        padding: 1px 6px; } }

/*========================================
    main-container
==========================================*/
.main-container {
  position: relative;
  /*----------------------------------------
      main-container main
  ------------------------------------------*/
  /*----------------------------------------
      main-container other
  ------------------------------------------*/
  /*----------------------------------------
      main-container modal-background
  ------------------------------------------*/
  /*----------------------------------------
      main-container sub-navigation
  ------------------------------------------*/
  /*----------------------------------------
      main-container main-contents
  ------------------------------------------*/ }
  .main-container .main {
    padding-bottom: 20px;
    display: flex;
    height: 100%; }
    .main-container .main#home {
      background: #a2483c;
      padding-right: 1rem; }
  .main-container .other {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding-right: 16px;
    width: 95%;
    background: #c2c2c2;
    border: 5px solid #a0a0a0;
    border-left: none;
    border-radius: 0 16px 16px 0;
    z-index: 200;
    display: none; }
    .main-container .other:nth-of-type(odd) {
      background: #2f2f2f;
      color: #fff; }
      .main-container .other:nth-of-type(odd) .sub-nav {
        background-color: #e2e2e2; }
        .main-container .other:nth-of-type(odd) .sub-nav a {
          color: #000;
          border-color: #000; }
          .main-container .other:nth-of-type(odd) .sub-nav a:hover, .main-container .other:nth-of-type(odd) .sub-nav a.current {
            color: #cb1b45;
            border-color: #cb1b45; }
      .main-container .other:nth-of-type(odd) .section {
        background-color: #e2e2e2;
        color: #000; }
    .main-container .other .section {
      background-color: #36a0c5; }
    @media screen and (max-width: 510px) {
      .main-container .other {
        width: 100%; }
        .main-container .other:nth-of-type(odd) .sub-nav {
          background-color: rgba(0, 0, 0, 0.3); }
          .main-container .other:nth-of-type(odd) .sub-nav a {
            color: #fff;
            border-color: #fff; }
          .main-container .other:nth-of-type(odd) .sub-nav.scroll {
            background-color: #fff; }
            .main-container .other:nth-of-type(odd) .sub-nav.scroll a {
              color: #000;
              border-color: #000; }
              .main-container .other:nth-of-type(odd) .sub-nav.scroll a:hover, .main-container .other:nth-of-type(odd) .sub-nav.scroll a.current {
                color: #cb1b45;
                border-color: #cb1b45; } }
  .main-container .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 100; }
    .main-container .bg:hover {
      cursor: pointer; }
    .main-container .bg .bg-close {
      position: absolute;
      top: 15px;
      right: 10px;
      font-size: 2.5rem;
      font-weight: bold;
      color: #dadada;
      transform: rotate(-45deg); }
      .main-container .bg .bg-close.fixed {
        position: fixed;
        top: 73px; }
  .main-container .sub-nav {
    flex: 0 0 auto;
    position: absolute;
    width: 250px;
    padding-top: 50px;
    background: #000;
    border-left: 30px solid #cb1b45;
    z-index: 100; }
    .main-container .sub-nav.scroll {
      position: fixed;
      top: 61px; }
    .main-container .sub-nav h2 {
      text-align: center;
      color: #fff;
      background-color: #5c5c5c; }
    .main-container .sub-nav ul {
      list-style: none;
      padding-left: 2rem; }
      .main-container .sub-nav ul li {
        padding: 15px 15px 15px 0; }
      .main-container .sub-nav ul a {
        margin-bottom: 5px;
        display: block;
        color: #fff;
        font-size: 1.5rem;
        text-decoration: none;
        border-bottom: 1px solid #fff; }
        .main-container .sub-nav ul a:hover, .main-container .sub-nav ul a.current {
          color: #cb1b45;
          border-color: #cb1b45; }
    @media screen and (max-height: 600px) {
      .main-container .sub-nav {
        padding-top: 10px;
        width: 150px; }
        .main-container .sub-nav ul {
          padding-left: 10px; }
          .main-container .sub-nav ul li {
            padding: 0; }
          .main-container .sub-nav ul a {
            font-size: 1rem; } }
    @media screen and (max-width: 510px) {
      .main-container .sub-nav {
        display: none;
        position: fixed;
        top: 60px;
        padding: 0;
        border-left: none;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1); }
        .main-container .sub-nav.scroll {
          top: 60px;
          background-color: #000; }
          .main-container .sub-nav.scroll h2 {
            background-color: #5c5c5c; }
        .main-container .sub-nav.clear {
          display: none !important; }
        .main-container .sub-nav h2 {
          font-size: 80%;
          background-color: rgba(0, 0, 0, 0.1); }
        .main-container .sub-nav ul {
          padding: 0;
          display: flex; }
          .main-container .sub-nav ul li {
            padding: 0 0 0 2px;
            margin: 0 auto; }
          .main-container .sub-nav ul a {
            font-size: 0.6rem;
            padding: 8px 10px; } }
    @media screen and (min-width: 511px) {
      .main-container .sub-nav {
        display: block !important; } }
  .main-container .main-contents {
    margin: 0 auto 0 260px;
    flex: 1 1 auto; }
  .main-container .section {
    min-height: 600px;
    padding: 1rem;
    background: #8ecc47; }
  @media screen and (max-height: 600px) {
    .main-container .main-contents {
      margin-left: 160px; } }
  @media screen and (max-width: 510px) {
    .main-container .main-contents {
      margin-left: 16px; }
    .main-container .section {
      font-size: 1.3rem; } }

/*# sourceMappingURL=style.css.map */
